version: '3'

services:
  backend-to-api:
    image: yangclivia/pandora-to-api:latest
    restart: always
    ports:
      - "50011:33333"
    volumes:
      - ./log:/app/log
      - ./images:/app/images
      - ./data:/app/data
      - ./files:/app/files
  
  redis:
    image: "redis:alpine"
    command: redis-server --appendonly yes
    volumes:
      - ./redis-data:/data
    
